# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
<oi><li>Create a markdown cell introducing arithmetic expression examples</li><li>Create a code cell to multiply and add numbers</li><li>Create a markdown cell with a table of Data Science tools</li></oi>

Some of the popular languages that Data Scientists use are:
<ol><li>Julia</il><li>Python</li><li>R</li></ol>

Some of the commonly used libraries used by Data Scientists include:
<ol><li>Pandas</li><li>Torch</li><li>SciKitLearn</li></ol>

| Data Science Tools |
| --- |
| Git |
| R Studio |
| Anaconda |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
3*4+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kyle Keeton